
html, body {
    font-family: 'Libre Baskerville', serif;
    min-height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#canvas {
    min-width: 1000px;
    min-height: 600px;
}

svg {
    background-color: #f8f7f9;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}