
html, body {
    font-family: 'Libre Baskerville', serif;
    min-height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #ccc;
    padding: 0 5rem 5rem;
}


#canvas {
    min-width: 1000px;
    min-height: 600px;
}

svg {
    background-color: #f8f7f9;
}

.county:hover {
    fill: #333;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}

#container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

#legend{
    padding: 10px;
}

#description {
    margin-bottom: 3rem;
}
